#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#include <behaviors/custom_config.dtsi>
#include <dt-bindings/zmk/custom_config.h>

&mt { 
    flavor = "tap-preferred"; // change hold to tap
    tapping-term-ms = <200>;
    quick-tap-ms = <150>; // change 200 to 150
};

&lt {
    flavor = "tap-preferred";
    tapping-term-ms = <150>; // change 200 to 150
    quick-tap-ms = <150>; // change 200 to 150
};

/ { 
    behaviors {
        td_mb: tap_dance_mouse_btn {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mkp MB4>, <&mkp MB5>, <&kp LC(W)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        lang1 {
            bindings = <&kp LANG1>;
            key-positions = <11 13>; /* S + F */
        };

        lang2 {
            bindings = <&kp LANG2>;
            key-positions = <16 18>; /* J + L */
        };

        ime-1 {
            bindings = <&kp LC(SPACE)>;
            key-positions = <13 16>; /* F + J */
        };

        ime-2 {
            bindings = <&kp LC(SPACE)>;
            key-positions = <33 38>; /* ENTER + BSPC */
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>; /* Q + W */
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>; /* W + Q */
        };
        
        del {
            bindings = <&kp DEL>;
            key-positions = <7 8>; /* I + O */
        };

        bspc {
            bindings = <&kp BSPC>;
            key-positions = <8 9>; /* O + P */
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <18 19>; /* L + - */
        };

        mb3 {
            bindings = <&mkp MB3>;
            key-positions = <25 35>; /* MB1 + MB2 */
        };
    };

    keymap {
        compatible = "zmk,keymap";
        layout = &LOW_PROFILE_DEFAULT;

        win_default_layer {
            display-name = "BASE";
            bindings = <
                &kp Q       &kp W       &kp E          &kp R        &kp T                          &kp Y       &kp U        &kp I            &kp O         &kp P
                &kp A       &kp S       &kp D          &kp F        &kp G                          &kp H       &kp J        &kp K            &kp L         &kp  MINUS
                &mt LWIN Z  &mt LALT X  &mt LCTRL C    &mt LSHFT V  &kp B        &mkp MB1  &td_mb  &kp N       &mt RSHFT M  &mt RCTRL COMMA  &mt RALT DOT  &mt RWIN SLASH
                                        &mt LCTRL TAB  &lt 3 ENTER  &lt 1 SPACE  &mkp MB2  &mo 2   &kp LSHFT   &lt 3 BSPC   &lt 4 DEL
            >;
        };

        layer_1 {
            display-name = "NUMSYM";
            bindings = <
                &kp N1        &kp N2         &kp N3          &kp N4           &kp N5                     &kp N6  &kp N7     &kp N8          &kp N9         &kp N0
                &kp PSCRN     &kp HOME       &kp UP          &kp END          &kp PG_UP                  &none   &kp GRAVE  &kp EQUAL       &kp SEMI       &kp SQT
                &mt LWIN INS  &mt LALT LEFT  &mt LCTRL DOWN  &mt LSHFT RIGHT  &kp PG_DN  &trans  &trans  &none   &kp RSHFT  &mt RCTRL LBKT  &mt RALT RBKT  &mt RWIN BSLH
                                             &trans          &trans           &trans     &trans  &trans  &trans  &trans     &trans
            >;
        };

        layer_2 {
            display-name = "SCROLL";
            bindings = <
                &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none 
                &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none 
                &none   &none   &none   &none   &none   &trans  &trans  &none   &none   &none   &none   &none 
                                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            display-name = "FUNCTION";
            bindings = <
                &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                   &none   &none         &kp C_MUTE    &none   &none
                &kp F6   &kp F7   &kp F8   &kp F9   &kp F10                  &none   &kp C_BRI_UP  &kp C_VOL_UP  &none   &none
                &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &trans  &trans  &none   &kp C_BRI_DN  &kp C_VOL_DN  &none   &none
                                  &trans   &trans   &trans   &trans  &trans  &trans  &trans        &trans
            >;
        };

        layer_4 {
			display-name = "SETTING";
			bindings = <
				&ccfg C_CPI_DN  &ccfg C_CPI_UP  &ccfg C_ROT_DN   &ccfg C_ROT_UP   &ccfg C_SCALE_TOG           &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
				&ccfg C_SDIV_DN &ccfg C_SDIV_UP &ccfg C_SCRH_TOG &ccfg C_SCRV_TOG &none                       &bt BT_CLR    &bt BT_CLR_ALL  &none         &none         &none
				&ccfg C_SAVE    &ccfg C_RESET   &none            &none            &none     &trans  &trans    &bootloader   &none           &none         &none         &none
							                    &trans           &trans           &trans    &trans  &trans    &trans        &trans          &trans
			>;
        };
    };
};
